body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    font-family: 'Open Sans', sans-serif;

}

table {
    margin: 10px;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    background: white;
    text-align: center;
    padding: 2px;
}

td.alt {
    background: lightsteelblue;
}

td.no-border {
    border: none;
    font-size: 0.7em;
}

tr.no-border td {
    border: none;
    font-size: 0.7em;
}

h3 {
    width: 100%;
}

